<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backtracing Innovation</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://d3js.org/d3.v3.js"></script> 
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/sigma.min.js"></script>
    <script src="js/sigma.layout.forceAtlas2.min.js"></script>
    <script src="js/sigma.parsers.gexf.min.js"></script>
    <script src="js/sigma.plugins.colorbrewer.js"></script>
    <script src="js/sigma.plugins.design.js"></script>
    
    <script src="js/countUp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <h1 id="title">Backtracing Innovation</h1>
      {{ content }}
    </div>
    {% include scripts.html %}
    <script src="js/action.js"></script>
  </body>
</html>
